body {
    margin: 0;
}

h1 {
    background-color: #f2f2f2;
    text-align: center;
}

ul {
    background-color: lightblue;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
}

li {
    display: inline-block;
    margin: 10px;
}

